# Extract, transform and load process of Philly food businesses

In [1]:
import pandas as pd

In [2]:
df = pd.read_json("../data/businesses.json")
df

,_id,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,{'$oid': '633640780f0a38ccd2241644'},MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
1,{'$oid': '633640780f0a38ccd2241650'},MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,1,"Sushi Bars, Restaurants, Japanese"
2,{'$oid': '633640780f0a38ccd2241654'},ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,1,"Korean, Restaurants"
3,{'$oid': '633640780f0a38ccd224165d'},QdN72BWoyFypdGJhhI5r7g,Bar One,767 S 9th St,Philadelphia,PA,19147,39.939825,-75.157447,4.0,65,0,"Cocktail Bars, Bars, Italian, Nightlife, Resta..."
4,{'$oid': '633640780f0a38ccd2241660'},Mjboz24M9NlBeiOJKLEd_Q,DeSandro on Main,4105 Main St,Philadelphia,PA,19127,40.022466,-75.218314,3.0,41,0,"Pizza, Restaurants, Salad, Soup"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14564,{'$oid': '6336408a0f0a38ccd2266171'},wPAaAbFbq5wfLfW0gnYU7g,Intermix,1718 Walnut St,Philadelphia,PA,19103,39.950060,-75.170129,2.0,10,0,"Fashion, Shopping, Women's Clothing"
14565,{'$oid': '6336408a0f0a38ccd2266177'},JDM7kiCEmeBc_5W-z6eZZw,2601 Parkway Apartments,2601 Pennsylvania Ave,Philadelphia,PA,19130,39.968806,-75.180608,3.0,6,1,"Real Estate, Apartments, Home Services"
14566,{'$oid': '6336408a0f0a38ccd226617a'},9U1Igcpe954LoWZRmNc-zg,Hand & Stone Massage And Facial Spa,"1100 S Columbus Blvd, Ste 24",Philadelphia,PA,19147,39.932756,-75.144504,3.0,32,1,"Day Spas, Beauty & Spas, Skin Care, Massage"
14567,{'$oid': '6336408a0f0a38ccd226617f'},LJ4GjQ1HL6kqvIPpNUNNaQ,Shanti Yoga and Ayurveda,"1638 Pine St, Fl 1",Philadelphia,PA,19103,39.945966,-75.169666,4.5,39,1,"Health & Medical, Yoga, Shopping, Naturopathic..."
14568,{'$oid': '6336408a0f0a38ccd2266181'},WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1,"Restaurants, Mexican"

In [3]:
len(df)

14569

# Extract the columns needed for analysis

In [4]:
philly_businesses_df = df[['name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'categories']]
philly_businesses_df.head()

,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
1,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,1,"Sushi Bars, Restaurants, Japanese"
2,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,1,"Korean, Restaurants"
3,Bar One,767 S 9th St,Philadelphia,PA,19147,39.939825,-75.157447,4.0,65,0,"Cocktail Bars, Bars, Italian, Nightlife, Resta..."
4,DeSandro on Main,4105 Main St,Philadelphia,PA,19127,40.022466,-75.218314,3.0,41,0,"Pizza, Restaurants, Salad, Soup"

In [5]:
len(philly_businesses_df)

14569

# Rename the columns

In [6]:
philly_businesses_df = philly_businesses_df.rename(columns={ 'name'         : 'name'
                                                           , 'address'      : 'address'
                                                           , 'city'         : 'city'
                                                           , 'state'        : 'state'
                                                           , 'postal_code'  : 'zip_code'
                                                           , 'latitude'     : 'latitude'
                                                           , 'longitude'    : 'longitude'
                                                           , 'stars'        : 'rating'
                                                           , 'review_count' : 'review_count'
                                                           , 'is_open'      : 'is_open'
                                                           , 'categories'   : 'categories'
                                                           })
philly_businesses_df.head()

,name,address,city,state,zip_code,latitude,longitude,rating,review_count,is_open,categories
0,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
1,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,1,"Sushi Bars, Restaurants, Japanese"
2,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,1,"Korean, Restaurants"
3,Bar One,767 S 9th St,Philadelphia,PA,19147,39.939825,-75.157447,4.0,65,0,"Cocktail Bars, Bars, Italian, Nightlife, Resta..."
4,DeSandro on Main,4105 Main St,Philadelphia,PA,19127,40.022466,-75.218314,3.0,41,0,"Pizza, Restaurants, Salad, Soup"

In [7]:
len(philly_businesses_df)

14569

# Clean up the data

In [8]:
# Drop rows with null
philly_businesses_df = philly_businesses_df.dropna()
len(philly_businesses_df)

14560

In [9]:
# Extract rows with is_open = 1
philly_businesses_df = philly_businesses_df[philly_businesses_df["is_open"]== 1]
len(philly_businesses_df)

10535

In [10]:
# Extract rows with rating => 3.5
philly_businesses_df = philly_businesses_df[philly_businesses_df["rating"] >= 3.5] 
len(philly_businesses_df )

7288

# extract for unique categories

In [11]:
# Retrieve the unique list of categories
categories_list_df = pd.read_csv('../data/categories_list.csv', encoding="ISO-8859-1")
categories_list_df

      business_type        category     sub_category
0     food industry          Afghan  type of cuisine
1     food industry         African  type of cuisine
2     food industry  American (New)  type of cuisine
3     food industry          Arabic  type of cuisine
4     food industry       Argentine  type of cuisine
...             ...             ...              ...
1022          Other           Wraps            other
1023          Other     Yelp Events            other
1024          Other            Yoga            other
1025          Other       Ziplining            other
1026          Other            Zoos            other

[1027 rows x 3 columns]

In [12]:
# extract the rows with business_type = food industry
categories_list_df = categories_list_df[categories_list_df["business_type"]== "food industry"]
categories_list_df

     business_type        category     sub_category
0    food industry          Afghan  type of cuisine
1    food industry         African  type of cuisine
2    food industry  American (New)  type of cuisine
3    food industry          Arabic  type of cuisine
4    food industry       Argentine  type of cuisine
..             ...             ...              ...
144  food industry      Teppanyaki     type of food
145  food industry         Tex-Mex     type of food
146  food industry           Vegan     type of food
147  food industry      Vegetarian     type of food
148  food industry         Waffles     type of food

[147 rows x 3 columns]

In [13]:
len(categories_list_df)

147

In [14]:
# save the unique list of categories
categories_list = categories_list_df['category'].tolist()
# categories_list

In [15]:
# Extract food industry businesses, filtered by unique list of categories
philly_cuisine_df = philly_businesses_df[philly_businesses_df["categories"].str.contains('|'.join(categories_list))==True]
philly_cuisine_df

/var/folders/s0/jxcz9nhj2qb3nxw_6prsbp3r0000gn/T/ipykernel_5397/1063360748.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  philly_cuisine_df = philly_businesses_df[philly_businesses_df["categories"].str.contains('|'.join(categories_list))==True]

,name,address,city,state,zip_code,latitude,longitude,rating,review_count,is_open,categories
0,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
1,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,1,"Sushi Bars, Restaurants, Japanese"
2,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,1,"Korean, Restaurants"
5,Craft Hall,901 N Delaware Ave,Philadelphia,PA,19123,39.962582,-75.135657,3.5,65,1,"Eatertainment, Arts & Entertainment, Brewpubs,..."
19,ReAnimator Coffee,1523 E Susquehanna Ave,Philadelphia,PA,19125,39.976456,-75.127025,4.0,105,1,"Food, Coffee & Tea"
...,...,...,...,...,...,...,...,...,...,...,...
14549,Mermaid Inn,7673 Germantown Ave,Philadelphia,PA,19118,40.067949,-75.196798,3.5,20,1,"Bars, Music Venues, Arts & Entertainment, Nigh..."
14552,Stina Pizzeria,1705 Snyder Ave,Philadelphia,PA,19145,39.925205,-75.174728,4.5,112,1,"Pizza, Restaurants, Mediterranean"
14554,Flip-N-Pizza,1308 W Girard Ave,Philadelphia,PA,19123,39.970720,-75.157752,4.0,16,1,"Restaurants, American (Traditional), Chicken W..."
14557,Trader Joe's,2121 Market St,Philadelphia,PA,19103,39.954178,-75.175980,4.0,494,1,"Beer, Wine & Spirits, Shopping, Grocery, Flori..."
14568,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1,"Restaurants, Mexican"

# Connect to db

In [16]:
# Import postgres password
from config import pw
from sqlalchemy import create_engine, text

In [17]:
protocol = 'postgresql'
username = 'postgres'
password = pw
host = 'localhost'
port = 5432
database_name = 'philly_cuisine_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

# Check tables

In [18]:
engine.table_names()

/var/folders/s0/jxcz9nhj2qb3nxw_6prsbp3r0000gn/T/ipykernel_5397/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['categories',
 'philly_cuisine',
 'categories_all',
 'categories_best',
 'philly_businesses']

# Load the pandas dataframe into database

In [19]:
# load the data for Philly food businesses
philly_cuisine_df.to_sql(name='philly_cuisine', con=engine, if_exists='replace', index=False)

90

In [20]:
# load the unique list of categories
categories_list_df.to_sql(name='categories', con=engine, if_exists='replace', index=False)

147

# Verify if the data were successfully loaded

In [21]:
# Retrieve the number of rows from philly_cuisine table
query1   =  'select count(*) from philly_cuisine'
pd.read_sql_query(query1, con=engine)

   count
0   3090

In [22]:
# Retrieve rows from philly_cuisine with catgories containing "Restaurant"
query2   = """select * from philly_cuisine where categories like '%Restaurant%';"""
pd.read_sql( text(query2), con=engine)

,name,address,city,state,zip_code,latitude,longitude,rating,review_count,is_open,categories
0,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
1,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,1,"Sushi Bars, Restaurants, Japanese"
2,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,1,"Korean, Restaurants"
3,Craft Hall,901 N Delaware Ave,Philadelphia,PA,19123,39.962582,-75.135657,3.5,65,1,"Eatertainment, Arts & Entertainment, Brewpubs,..."
4,Red Hook Coffee & Tea,765 S 4th St,Philadelphia,PA,19147,39.938552,-75.149636,4.5,183,1,"Restaurants, Breakfast & Brunch, Vegan, Bagels..."
...,...,...,...,...,...,...,...,...,...,...,...
2478,Luigiâ€™s Pizza Fresca,2401 Fairmount Ave,Philadelphia,PA,19130,39.967551,-75.177122,4.0,249,1,"Italian, Pizza, Restaurants, Hawaiian"
2479,Spuntino Wood Fired Pizza,701 N 2nd St,Philadelphia,PA,19123,39.962006,-75.140950,4.5,209,1,"Pizza, Restaurants"
2480,Stina Pizzeria,1705 Snyder Ave,Philadelphia,PA,19145,39.925205,-75.174728,4.5,112,1,"Pizza, Restaurants, Mediterranean"
2481,Flip-N-Pizza,1308 W Girard Ave,Philadelphia,PA,19123,39.970720,-75.157752,4.0,16,1,"Restaurants, American (Traditional), Chicken W..."
2482,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1,"Restaurants, Mexican"

In [23]:
# Retrieve the number of rows in categories table
query3   =  'select count(*) from categories'
pd.read_sql_query(query3, con=engine)

   count
0    147

In [24]:
# Retrieve the rows from categories with sub_category = 'type of food'
query4   = """select * from categories where sub_category = 'type of food';"""
pd.read_sql( text(query4), con=engine)

    business_type    category  sub_category
0   food industry  Acai Bowls  type of food
1   food industry      Bagels  type of food
2   food industry    Bakeries  type of food
3   food industry    Barbeque  type of food
4   food industry        Bars  type of food
..            ...         ...           ...
66  food industry  Teppanyaki  type of food
67  food industry     Tex-Mex  type of food
68  food industry       Vegan  type of food
69  food industry  Vegetarian  type of food
70  food industry     Waffles  type of food

[71 rows x 3 columns]

In [25]:
# Retrieve the rows from categories with sub_category = 'type of cuisine'
query5   = """select * from categories where sub_category = 'type of cuisine';"""
pd.read_sql( text(query5), con=engine)

    business_type        category     sub_category
0   food industry          Afghan  type of cuisine
1   food industry         African  type of cuisine
2   food industry  American (New)  type of cuisine
3   food industry          Arabic  type of cuisine
4   food industry       Argentine  type of cuisine
..            ...             ...              ...
71  food industry         Turkish  type of cuisine
72  food industry       Ukrainian  type of cuisine
73  food industry           Uzbek  type of cuisine
74  food industry      Venezuelan  type of cuisine
75  food industry      Vietnamese  type of cuisine

[76 rows x 3 columns]

In [26]:
# Retrieve rows from philly_cuisine table with categories containing the each category 
# from the unique list of categories saved in categories_list

for category in categories_list:
    query6 = f"select * from philly_cuisine where categories like '%{category}%';"
    result6_df = pd.read_sql( text(query6), con=engine)
#     print (f"Data for {category}: {result6_df}")  
#     print ("============================================================================================")

In [27]:
# Retrieve rows from philly_cuisine table with categories containing a specific category 
category = "Donuts"
query7 = f"select * from philly_cuisine where categories like '%{category}%';"
result7_df = pd.read_sql( text(query7), con=engine)
result7_df

,name,address,city,state,zip_code,latitude,longitude,rating,review_count,is_open,categories
0,Federal Donuts,2101 Pennsylvania Ave,Philadelphia,PA,19130,39.963042,-75.174186,4.5,11,1,"Sandwiches, Chicken Wings, Restaurants, Donuts..."
1,Federal Donuts,21 S 12th St,Philadelphia,PA,19107,39.951007,-75.159898,4.5,51,1,"Restaurants, Chicken Shop, Donuts, Food, Coffe..."
2,Federal Donuts,701 N Seventh St,Philadelphia,PA,19123,39.964179,-75.149424,4.0,321,1,"Restaurants, Donuts, Chicken Wings, Food, Coff..."
3,Federal Donuts,1219 S 2nd St,Philadelphia,PA,19147,39.932223,-75.147463,4.0,530,1,"Restaurants, Korean, American (Traditional), B..."
4,Dunkin',917 W Girard Ave,Philadelphia,PA,19123,39.970947,-75.152144,3.5,17,1,"Coffee & Tea, Food, Donuts"
5,Undrgrnd Donuts,,Philadelphia,PA,19104,39.958359,-75.195393,4.0,39,1,"Food Stands, Donuts, Restaurants, Food"
6,Dottie's Donuts,4529 Springfield Ave,Philadelphia,PA,19143,39.948345,-75.213656,4.5,206,1,"Restaurants, Food, Vegan, Cafes, Donuts"
7,Dunkin',1425 Locust St,Philadelphia,PA,19102,39.948588,-75.165893,4.0,25,1,"Restaurants, Bagels, Food, Donuts, Coffee & Te..."
8,Federal Donuts,1526 Sansom St,Philadelphia,PA,19102,39.950365,-75.166852,4.5,8,1,"Food, Donuts, Chicken Shop, Restaurants, Coffe..."
9,Dunkin' Donuts,12055 Knights Rd,Philadelphia,PA,19154,40.085804,-74.972094,4.0,7,1,"Coffee & Tea, Food, Donuts"
10,Beehive Bake Shop,1764 Frankford Ave,Philadelphia,PA,19125,39.976304,-75.132394,4.5,6,1,"Macarons, Bakeries, Cupcakes, Cafes, Donuts, R..."
11,Federal Donuts,1 Citizens Bank Way,Philadelphia,PA,19148,39.904862,-75.168485,4.0,25,1,"Donuts, Food"
12,Yaaâ€™s Fruitea Cafe,1200 South St,Philadelphia,PA,19147,39.943179,-75.161939,5.0,10,1,"Donuts, Bubble Tea, Food, Coffee & Tea"
13,Dunkin',9900 Frankford Ave,Philadelphia,PA,19114,40.064897,-74.983182,3.5,5,1,"Coffee & Tea, Food, Donuts"
14,Frangelli's Bakery,847 W Ritner St,Philadelphia,PA,19148,39.919711,-75.161960,4.5,161,1,"Restaurants, Food, Donuts, Bakeries"
15,Pentridge Station Beer Garden,5116 Pentridge St,Philadelphia,PA,19143,39.945525,-75.224223,4.5,9,1,"Donuts, Food, Nightlife, Beer Gardens"
16,Dottie's Donuts,509 S 6th St,Philadelphia,PA,19147,39.942666,-75.152018,4.5,97,1,"Food, Donuts, Vegan, Restaurants"
17,Hello Donuts + Coffee,2557 Amber St,Philadelphia,PA,19125,39.984488,-75.124460,4.5,48,1,"Coffee & Tea, Restaurants, Breakfast & Brunch,..."
18,Dunkin',7970 Dungan Rd,Philadelphia,PA,19111,40.068368,-75.068393,4.0,9,1,"Donuts, Food, Coffee & Tea"
19,Dunkin',6608 Frankford Ave,Philadelphia,PA,19135,40.031184,-75.054704,3.5,8,1,"Food, Coffee & Tea, Restaurants, Donuts"
20,Baker Brothers,2300 S 3rd St,Philadelphia,PA,19148,39.919478,-75.152279,4.5,13,1,"Donuts, Cupcakes, Bakeries, Food"
21,Cafe Roma Bakery,6147 Ridge Ave,Philadelphia,PA,19128,40.035057,-75.216296,4.5,53,1,"Restaurants, Food, Bakeries, Donuts"
22,Federal Donuts,540 South St,Philadelphia,PA,19147,39.941800,-75.152235,4.0,104,1,"Donuts, Food, Restaurants, Coffee & Tea, Chick..."
23,Dunkin',3601 Market St,Philadelphia,PA,19104,39.956624,-75.194436,4.5,6,1,"Food, Donuts, Coffee & Tea"
24,Factory Donuts,7114 Frankford Ave,Philadelphia,PA,19135,40.035071,-75.044618,4.5,139,1,"Coffee & Tea, Food, Donuts, Bakeries"
25,Federal Donuts,3428 Sansom St,Philadelphia,PA,19104,39.953554,-75.193177,4.0,322,1,"Coffee & Tea, Comfort Food, Donuts, Food, Rest..."
26,Dunkin',839 N Broad St,Philadelphia,PA,19123,39.969378,-75.159453,3.5,7,1,"Donuts, Coffee & Tea, Food"
27,Fresh Donuts,3914 Lancaster Ave,Philadelphia,PA,19104,39.962212,-75.201024,5.0,22,1,"Donuts, Breakfast & Brunch, Restaurants, Coffe..."
28,Dunkin',1100 S Columbus Blvd,Philadelphia,PA,19147,39.933029,-75.144610,3.5,33,1,"Food, Coffee & Tea, Donuts, Bagels"
29,Beiler's Donuts,3900 Chestnut St,Philadelphia,PA,19104,39.954973,-75.200154,4.5,231,1,"Food, Donuts, Coffee & Tea, Ice Cream & Frozen..."
30,Beiler's Bakery,51 N 12th St,Philadelphia,PA,19107,39.953764,-75.159218,4.5,1368,1,"Food, Donuts, Food Stands, Restaurants, Specia..."
31,Dunkin',3437 Walnut St,Philadelphia,PA,19104,39.953160,-75.193522,3.5,34,1,"Breakfast & Brunch, Donuts, Food, Restaurants,..."
32,Okie Dokie Donuts,1439 Snyder Ave,Philadelphia,PA,19145,39.924766,-75.171057,5.0,16,1,"Food, Caterers, Gluten-Free, Donuts, Event Pla..."
33,Donut Plus,4325 Chestnut St,Philadelphia,PA,19104,39.956862,-75.209093,4.5,48,1,"Donuts, Breakfast & Brunch, Restaurants, Food,..."
34,Dunkin',2001 Chestnut St,Philadelphia,PA,19103,39.952193,-75.173604,3.5,23,1,"Coffee & Tea, Food, Donuts"